@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --text-color: #000;
  --profile-color: white;
  --main-bg-color: #f4f6fb;
  --footer-bg-color: #f4f6fb;
  --btn-secondary-color: #f2f2f7;
  --btn-primary-color: #3040e5;
  --hr-color: #dedede;
  --primary-theme-color: white;
  --link-color: #3040e5;
  --btn-seconday-text: #000;
  --icons-color: #000;
  --icons-color: brightness(0) invert(0);
  --btn-font: "Roboto", sans-serif;
  --main-font: "Montserrat", sans-serif;
}

.dark-mode {
  --icons-color: white;
  --primary-theme-color: #050519;
  --text-color: white;
  --profile-color: black;
  --main-bg-color: linear-gradient(
    172.33deg,
    #30303a -1.75%,
    #20202e 83.53%,
    #050519 104.9%
  );
  --footer-bg-color: #282c34;
  --btn-secondary-color: #282c34;
  --btn-seconday-text: white;
  --btn-primary-color: #3040e5;
  --hr-color: #dedede;
  --link-color: white;
  --icons-color: brightness(0) invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 1s;
  color: var(--text-color);
  background-color: var(--profile-color);
  font-family: var(--main-font);
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 172.687%; /* 41.445px */
  letter-spacing: 0.12px;
}

a {
  transition: 1s;
  color: var(--link-color);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  font-family: var(--btn-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 146.687%;
  letter-spacing: 0.77px;
  text-align: center;
  background-color: var(--btn-primary-color);
  padding: 10px 40px;
  border: none;
  color: white;
  border-radius: 43px;
  cursor: pointer;
}
.btn--download {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 4px;
  padding: 0;
  color: var(--btn-secondary-text);
  background-color: transparent;
}
.btn--secondary {
  font-size: 15px;
  font-weight: 500;
  line-height: 146.687%;
  background-color: var(--btn-secondary-color);
  width: 100%;
  color: var(--btn-seconday-text);
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 40px;
}
.icons--filter {
  filter: var(--icons-color);
}

.circle {
  position: absolute;
  z-index: -10;
  top: -4px;
  left: -7px;
  width: 68px;
  height: 68px;
  border-radius: 71px;
  background: #fff;
  box-shadow: 3px 2px 24px 0px rgba(0, 0, 0, 0.09);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 146px;
}
.header__logo-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 12px;
}
.header__logo-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
}

.nav {
  display: flex;
  gap: 56px;
}
.nav__item, .nav__toggle {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}
.nav__toogle-icon {
  width: 100%;
  height: 100%;
}
.nav__item--menu {
  text-decoration: none;
  list-style: none;
}
.nav__menu {
  background-color: var(--btn-secondary-color);
  color: var(--btn-seconday-text);
}

.profile-container {
  overflow: hidden;
  background-color: var(--primary-theme-color);
  display: flex;
  flex-direction: column;
  padding: 70px 302px 158px 302px;
  gap: 24px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 56px;
}
.profile__details, .profile__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.profile__details {
  gap: 16px;
}
.profile__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 146.687%;
  text-align: center;
}
.profile__title {
  font-size: 60px;
  font-weight: 800;
  line-height: 142.687%;
  text-align: center;
  letter-spacing: 3.6px;
}
.profile__text-container {
  width: 85.42%;
  margin: auto;
}
.profile__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 192%;
  text-align: center;
}
.profile__btn-container {
  display: flex;
  gap: 29px;
}

.apps {
  padding: 81px 146px;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 162px;
}

.app {
  display: flex;
  background-color: var(--primary-theme-color);
  gap: 72px;
}
.app__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  padding: 15px 80px 15px 80px;
  gap: 42px;
}
.app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 16px;
}
.app__category, .app__title {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.app__category {
  gap: 7px;
  padding: 8px 24px;
  background-color: var(--btn-secondary-color);
  border-radius: 43px;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  line-height: 172.687%;
  letter-spacing: 0.21px;
}
.app__title {
  position: relative;
  z-index: 1;
  font-size: 36px;
  font-weight: 700;
  line-height: 172.687%;
  letter-spacing: 0.18px;
  gap: 24px;
}
.app__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 190.4%;
  letter-spacing: 0.09px;
}
.app__image {
  width: 100%;
}

.tools-container {
  background-color: var(--primary-theme-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 46px;
  padding: 49px 146px;
}
.tools-container__title {
  padding-bottom: 16px;
}

.tools-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 43px;
}

.tools {
  display: flex;
  gap: 62px;
  padding: 0px 24px;
}
.tools__divider {
  width: 100%;
  border: 1px solid var(--hr-color);
}

.tool {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 30px;
}
.tool__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 190.4%;
  letter-spacing: 0.08px;
}
.tool__divider {
  width: 100%;
  border: 1px solid var(--hr-color);
}
.tool__image {
  padding: 10px 0px 10px 7px;
  position: relative;
  z-index: 1;
}

.github-behind {
  filter: var(--icons-color);
  position: absolute;
  z-index: -15;
  top: 0;
  left: 40px;
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 40px 151px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.footer__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 172.687%;
  letter-spacing: 0.2px;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 172.687%;
  letter-spacing: 0.18px;
}

@media (min-width: 1025px) {
  .nav__menu {
    display: none;
  }
  .tools__divider--lg {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 24px 100px;
  }
  .nav__menu {
    display: none;
  }
  .app {
    position: relative;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .app__image {
    height: 40vh;
  }
  .app__category {
    top: 20px;
    left: 30px;
    position: absolute;
  }
  .app__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
  }
  .app__details {
    align-items: center;
    padding: 36px 24px 126px 24px;
    gap: 42px;
  }
  .app__header {
    align-self: start;
  }
  .tools__divider--lg {
    display: none;
  }
  .footer__up {
    flex-direction: column;
    align-items: start;
  }
  .footer__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 142.687%;
    letter-spacing: 0.96px;
  }
  .footer__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
    letter-spacing: 0.14px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 12px 10px;
  }
  .header__logo-text {
    display: none;
  }
  .nav__menu {
    display: none;
  }
  .profile-container {
    height: 100vh;
    padding: 40px 0px 24px 0px;
    gap: 122px;
    justify-content: center;
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    padding: 10px 24px;
    gap: 56px;
  }
  .profile__details {
    gap: 16px;
  }
  .profile__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 146.687%;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .profile__title {
    font-size: 36px;
    font-weight: 800;
    line-height: 142.687%;
    text-align: center;
    letter-spacing: 0.96px;
  }
  .profile__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 190%;
    text-align: center;
  }
  .profile__btn-container {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    gap: 27px;
  }
  .apps {
    padding: 30px 50px;
  }
  .app {
    position: relative;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .app__image {
    height: 40vh;
  }
  .app__category {
    top: 20px;
    left: 30px;
    position: absolute;
  }
  .app__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
  }
  .app__details {
    align-items: center;
    padding: 36px 24px 126px 24px;
    gap: 42px;
  }
  .app__header {
    align-self: start;
  }
  .tools-container {
    padding: 35px 24px;
  }
  .tools-container__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 142.687%;
    letter-spacing: 0.96px;
  }
  .tools {
    flex-direction: column;
    gap: 40px;
  }
  .tool__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
    letter-spacing: 0.07px;
  }
  .footer {
    padding: 35px 24px;
  }
  .footer__up {
    flex-direction: column;
    align-items: start;
  }
  .footer__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 142.687%;
    letter-spacing: 0.96px;
  }
  .footer__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
    letter-spacing: 0.14px;
  }
}
@media (max-width: 480px) {
  .btn--secondary {
    font-size: 14px;
    font-weight: 500;
    line-height: 146.687%;
    letter-spacing: 0.07px;
  }
  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 172.687%;
    letter-spacing: 0.12px;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 172.687%;
  }
  .header {
    padding: 12px 24px;
  }
  .header__logo-text {
    display: none;
  }
  .nav {
    gap: 24px;
  }
  .nav__item {
    display: none;
  }
  .icons--widthmax {
    width: 100%;
    justify-content: space-around;
  }
  .profile-container {
    height: 100vh;
    padding: 40px 0px 24px 0px;
    gap: 122px;
    justify-content: center;
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    padding: 10px 24px;
    gap: 56px;
  }
  .profile__details {
    gap: 16px;
  }
  .profile__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 146.687%;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .profile__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 142.687%;
    text-align: center;
    letter-spacing: 0.96px;
  }
  .profile__text-container {
    width: 100%;
  }
  .profile__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190%;
    text-align: center;
  }
  .profile__btn-container {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    gap: 27px;
  }
  .apps {
    padding: 0px;
    gap: 0px;
  }
  .app {
    position: relative;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .app__image {
    height: 55vh;
  }
  .app__category {
    top: 20px;
    left: 30px;
    position: absolute;
  }
  .app__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
  }
  .app__details {
    align-items: center;
    padding: 36px 24px 126px 24px;
    gap: 42px;
  }
  .app__header {
    align-self: start;
  }
  .tools-container {
    padding: 35px 24px;
  }
  .tools-container__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 142.687%;
    letter-spacing: 0.96px;
  }
  .tools {
    flex-direction: column;
    gap: 40px;
  }
  .tool__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
    letter-spacing: 0.07px;
  }
  .footer {
    gap: 40px;
    padding: 26px 24px;
  }
  .footer__up {
    flex-direction: column;
    align-items: start;
  }
  .footer__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 142.687%;
    letter-spacing: 0.96px;
  }
  .footer__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 190.4%;
    letter-spacing: 0.14px;
  }
}

/*# sourceMappingURL=style.css.map */
