// footer styles
.footer {
  background-color: var(--footer-bg-color);
  padding: 40px 151px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  &__title {
    @include font-maker(40px, 700, 172.687%);
    letter-spacing: 0.2px;
  }
  &__text {
    @include font-maker(16px, 400, 172.687%);
    letter-spacing: 0.18px;
  }
}
